*
{
    margin: 0;
    font-family: sans-serif;
}
header
{
    max-width: 1400px;
    margin: auto;
    .navbar
    {
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .div1
        {
            display: flex;
            align-items: center;
            gap: 10px;
            h2{
                font-size: 30px;
                color: rgba(68, 124, 42, 1);
                font-family: monospace;
                font-weight: 700;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .div2
        {
            display: flex;
            gap: 50px;
            font-size: 22px;
        }
        .div3
        {
            display: flex;
            gap: 20px;
            align-items: center;
            p{
                font-size: 14px;
                color: rgba(30, 30, 30, 0.62);
            }
            h3{
                font-weight: 500;
            }
            button{
                padding: 25px 60px;
                color: white;
                font-size: 18px;
                border: none;
                border-radius: 40px;
                background: linear-gradient( to right, green,rgba(0, 128, 0, 0.632),green);
            }
        }
    }
    .backImage1
    {
        background: url();
    }
}
@media (max-width:510px)
{
    .div2
    {
        display: none;
    }
}
