*
{
    margin: 0;
    font-family: sans-serif;
}
header
{
    max-width: 1400px;
    margin: auto;
    .navbar
    {
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .div1
        {
            display: flex;
            align-items: center;
            gap: 10px;
            h2{
                font-size: 30px;
                color: rgba(68, 124, 42, 1);
                font-family: monospace;
                font-weight: 700;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .div2
        {
            display: flex;
            gap: 50px;
            font-size: 22px;
        }
        .div3
        {
            display: flex;
            gap: 20px;
            align-items: center;
            p{
                font-size: 14px;
                color: rgba(30, 30, 30, 0.62);
            }
            h3{
                font-weight: 500;
            }
            button{
                padding: 25px 60px;
                color: white;
                font-size: 18px;
                border: none;
                border-radius: 40px;
                background: linear-gradient( to right, green,rgba(0, 128, 0, 0.632),green);
            }
        }
    }
    .backImage1
    {
        width: 100%;
        height: 751px;
        background: url(./Image-00.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 100px;
        color: white;
        .box1
        {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            padding: 100px;
            h1{
                font-size: 55px;
            }
            p{
                font-size: 30px;
            }
            .savzako
            {
                margin-top: 250px;
                display: flex;
                justify-content: space-between;
                margin-top: 250px;
                p{
                    font-size: 24px;
                }
                div{
                    display: flex;
                    align-items: start;
                    gap: 20px;
                }
            }
        }
    }
}
.imgTele
{
    display: none;
}
.imgMenu
{
    display: none;
}
section
{
    max-width: 1200px;
    margin: auto;
    .box2
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            width: 50%;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            h1{
                font-size: 48px;
                font-weight: 100;
            }
            p
            {
                width: 80%;
                color: rgba(116, 116, 116, 1);
                font-size: 24px;
            }
        }
        .imgKampir
        {
            width: 50%;
        }
    }
    .box3
    {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
        .inBox1
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            .aaa
            {
                display: flex;
                align-items: start;
                gap: 10px;
                div{
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                }
            }
        }
    }
}




@media (max-width: 510px) 
{
    header
    {
        width: 90%;
        margin: auto;
        .backImage1
        {
            width: 100%;
            height: 529px;
            background: url(./Image-00\ \(1\).png);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 30px;
            color: white;
            .box1
            {
                display: flex;
                flex-direction: column;
                padding: 30px;
                row-gap: 10px;
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 15px;
                }
                .savzako
                {
                    display: flex;
                    flex-direction: column;
                    margin-top: 190px;
                    row-gap: 20px;
                    p{
                        font-size: 16px;
                    }
                    div{

                    }
                }
            }
        }
        .imgTele
        {
            display: block;
        }
        .imgMenu
        {
            display: block;
        }
    }
    .daraxt
    {
        width: 53px;
        height: 31px;
    }
    header .navbar .div1 h2
    {
        font-size: 20px;
    }
    header .navbar .div1 p
    {
        font-size: 10px;
    }
    header .navbar .imges
    {
        display: flex;
        gap: 20px;
    }
    header .navbar .div2 {
  display: none;
}
    header .navbar .div3 {
  display: none;
}
  .navbar
  {
    width: 90%;
    margin: auto;
  }
}