*
{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}
header
{
    max-width: 1400px;
    margin: auto;
    .navbar
    {
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .div1
        {
            display: flex;
            align-items: center;
            gap: 10px;
            h2{
                font-size: 30px;
                color: rgba(68, 124, 42, 1);
                font-family: monospace;
                font-weight: 700;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .div2
        {
            display: flex;
            gap: 50px;
            font-size: 22px;
        }
        .div3
        {
            display: flex;
            gap: 20px;
            align-items: center;
            p{
                font-size: 14px;
                color: rgba(30, 30, 30, 0.62);
            }
            h3{
                font-weight: 500;
            }
            button{
                padding: 25px 60px;
                color: white;
                font-size: 18px;
                border: none;
                border-radius: 40px;
                background: linear-gradient( to right, green,rgba(0, 128, 0, 0.632),green);
            }
        }
    }
    .backImage1
    {
        width: 100%;
        height: 751px;
        background: url(./Image-00.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 100px;
        color: white;
        .box1
        {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            padding: 100px;
            h1{
                font-size: 55px;
            }
            p{
                font-size: 30px;
            }
            .savzako
            {
                margin-top: 250px;
                display: flex;
                justify-content: space-between;
                margin-top: 250px;
                p{
                    font-size: 24px;
                }
                div{
                    display: flex;
                    align-items: start;
                    gap: 20px;
                }
            }
        }
    }
}
.imgTele
{
    display: none;
}
.imgMenu
{
    display: none;
}
section
{
    max-width: 1200px;
    margin: auto;
    .box2
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            width: 50%;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            h1{
                font-size: 48px;
                font-weight: 100;
            }
            p
            {
                width: 80%;
                color: rgba(116, 116, 116, 1);
                font-size: 24px;
            }
        }
        .imgKampir
        {
            width: 50%;
        }
    }
    .box3
    {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
        .inBox1
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            .aaa
            {
                display: flex;
                align-items: start;
                gap: 10px;
                div{
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                }
            }
        }
    }
    .headero
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        button{
                padding: 25px 60px;
                color: white;
                font-size: 18px;
                border: none;
                border-radius: 40px;
                background: linear-gradient( to right, green,rgba(0, 128, 0, 0.632),green);
            }
    }
    .box4
    {
        display: flex;
        justify-content: space-between;
        .img1{
            width: 300px;
        }
        .img2
        {
            width: 550px;
            border-radius: 20px;
        }
    }
    .backVideo1
    {
        width: 100%;
        height: 600px;
        background: url(./Видео.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .box5 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;

    .cardkampir {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        border: 1px solid rgba(222, 222, 222, 1);
        border-radius: 24px;
        gap: 30px;
    }

    .cardkampir img {
        width: 500px;
    }

    .inbox2 {
        width: 60%;
        display: flex;
        flex-direction: column;
        row-gap: 38px;
        .row
        {
            display: flex;
            justify-content: space-between;
            p{
                font-size: 14px;
                color: rgba(70, 70, 70, 1);
            }
                button{
                padding: 10px 60px;
                color: white;
                font-size: 18px;
                border: none;
                border-radius: 50px;
                background: linear-gradient( to right, green,rgba(0, 128, 0, 0.632),green);
            }
        }
        .collumn
        {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            div{
                display: flex;
                gap: 10px;
                align-items: start;
                color: rgba(50, 54, 56, 1);
                img{
                    width: 14px;
                }
            }
        }
        .card1
        {
            width: 90%;
            padding: 20px 30px;
            background-color: rgba(255, 250, 242, 1);
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            hr{
                width: 80%;
                border: none;
                height: 1px;
                background-color: rgba(224, 224, 224, 1);
            }
            .comfort
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
                div{
                    display: flex;
                    gap: 15px;
                    p{
                        font-size: 24px;
                        span{
                            font-weight: 100;
                        }
                    }
                    img{
                        width: 1px;
                    }
                }
                img{
                    width: 46px;
                }
            }
        }
    }
}
.box6
{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    .odam
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .odam1
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
        bottom: 70px;
    }
}

}




@media (max-width: 510px) 
{
    section
    {
        width: 90%;
        margin: auto;
        .box2
        {
            flex-direction: column;
            div{
                width: 100%;
            }
            .img4
            {
                width: 100%;
            }
        }
        .box3{
            flex-direction: column;
            row-gap: 40px;
            .imgKampir
            {
                width: 100%;
            }
        }
        .headero
        {
            button{
                display: none;
            }
        }
        .box4
        {
            flex-direction: column;
            row-gap: 30px;
            .img4
            {
                width: 100%;
            }
        }
        .box5
        {
            .cardkampir
            {
                flex-direction: column;
                .img3
                {
                    width: 90%;
                }
            }
        }
        .box6
        {
            flex-direction: column;
        }
    }
    header
    {
        width: 90%;
        margin: auto;
        .backImage1
        {
            width: 100%;
            height: 529px;
            background: url(./Image-00\ \(1\).png);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 30px;
            color: white;
            .box1
            {
                display: flex;
                flex-direction: column;
                padding: 30px;
                row-gap: 10px;
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 15px;
                }
                .savzako
                {
                    display: flex;
                    flex-direction: column;
                    margin-top: 190px;
                    row-gap: 20px;
                    p{
                        font-size: 16px;
                    }
                    div{

                    }
                }
            }
        }
        .imgTele
        {
            display: block;
        }
        .imgMenu
        {
            display: block;
        }
    }
    .daraxt
    {
        width: 53px;
        height: 31px;
    }
    header .navbar .div1 h2
    {
        font-size: 20px;
    }
    header .navbar .div1 p
    {
        font-size: 10px;
    }
    header .navbar .imges
    {
        display: flex;
        gap: 20px;
    }
    header .navbar .div2 {
  display: none;
}
    header .navbar .div3 {
  display: none;
}
  .navbar
  {
    width: 90%;
    margin: auto;
  }
}